/* reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
/* wallpapers */

.wp-wall {
    background-image: url(../assets_day1/img/wall.png);
    background-repeat: repeat;
    background-size: contain;
}

.wp-cork {
    background-image: url(../assets_day1/img/cork.png);
    background-repeat: repeat;
    background-size: contain;
}


/* Header */

header{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2rem;
    font-family: "Edu TAS Beginner";
}


/* main */

.container{
    margin: 40px 10%;
    justify-content: center;
    gap: 20px;    
}

/* card */

.card{
    padding: 10px;
    background-color: white;
    
    flex-basis: 100%;
    
    max-width: 300px;   
    height: 325px;
    /* min-height: 350px; */
}

.card-img{

    object-fit: cover;
    height: 250px;
    margin-bottom: 10px;
}
.pin-absolute{
    position: absolute;
    top: -12px;
    left: calc(50% - 18px);

}
/* flex */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center {
    justify-content: center;
    align-content: center;
}
/* utilities */

.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.sticky{
    position: sticky;
}

.none{
    display: none;
}

/* responsive tablet */
@media screen and (min-width: 720px) {

   
    .card {
        flex-basis: calc((100% - 20px) / 2); 
    }
}


/* responsive large */
@media screen and (min-width: 1024px) {

    
    .card {
        flex-basis: calc((100% - 40px) / 3);
    }
}


/* overlay */

.overlay{
    background-color: #000000a9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
}
/* .close{
    position: relative;
    top: -42%;
    right: 10px;
} */
