/* reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* img{
 max-width: 100%;
} */

/* header */

header {
    padding: 20px;
    position: sticky;
    height: 150px;
    width: 100%;
}

h1 {
    font-size: 80px;

}

/* sfondi */
.wallpaper-wall {
    background-image: url(./assets_day1/img/wall.png);
}

.wallpaper-cork {
    background-image: url(./assets_day1/img/cork.png);
}

/* cards */

.card {

    padding: 15px;
    gap: 10px;
    background-color: white;
    /* max-height: 350px;*/
    /* max-width: calc(300px + 30px);  */
    flex: 1 1 100%;
}

.card-img {
    /* width: 300px; */
    height: 300px;
    object-fit: cover;
}

.position-pin {
    position: absolute;
    top: -13px;
    left: calc(50% - 18px);
}

.relative {
    position: relative;
}

.wrap {
    flex-wrap: wrap;
}

/* utilities */

.m-main {
    margin: 50px 0%;
}




/* flexbox */

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-content: center;
}

/* .col{
    flex-basis: 100%;
} */

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.gap {
    gap: 30px;
}



/* responsive tablet */
@media screen and (min-width: 720px) {

    /* .col{
        flex-basis: calc(50% - 30px);
    } */
    .card {

        padding: 15px;
        gap: 10px;
        background-color: white;
        /* max-height: 350px;
    max-width: calc(300px + 30px); */
        /* flex-basis: calc(50% - 30px); */
        flex: 1 1 calc(50% - 30px);
    }
}


/* responsive large */
@media screen and (min-width: 1024px) {

    /* .col{
        flex-basis: calc(33% - 30px);
    } */
    .card {

        padding: 15px;
        gap: 10px;
        background-color: white;
        /* max-height: 350px;
    max-width: calc(300px + 30px); */
        /* flex-basis: calc(33% - 30px); */
        flex: 1 1 calc(33% - 30px);
    }
}